*.coff
*.txt
*.o
!*.*

Xkid
amakedir
amakedir.c
atmfile
atmfileB
atmfileC
atmfileD
cp
dirtest
fstest1
halt
makedir
matmult
qmatmult
qsort
rmakedir
share1
share2
sharekid1
sharekid2
shell
sort
vmtorture
