*.coff
*.txt
*.o
!*.*

Xkid
amakedir
atmfile
atmfileB
atmfileC
atmfileD
cp
dirtest
fstest1
halt
makedir
matmult
qmatmult
qsort
rmakedir
share1
share2
sharekid1
sharekid2
shell
sort
vmtorture


Xkid.o
amakedir.o
atmfile.o
atmfileB.o
atmfileC.o
atmfileD.o
cp.o
dirtest.o
fstest1.o
halt.o
makedir.o
matmult.o
qmatmult.o
qsort.o
rmakedir.o
share1.o
share2.o
sharekid1.o
sharekid2.o
shell.o
sort.o
vmtorture.o

Xkid.coff
amakedir.coff
atmfile.coff
atmfileB.coff
atmfileC.coff
atmfileD.coff
cp.coff
dirtest.coff
fstest1.coff
halt.coff
makedir.coff
matmult.coff
qmatmult.coff
qsort.coff
rmakedir.coff
share1.coff
share2.coff
sharekid1.coff
sharekid2.coff
shell.coff
sort.coff
vmtorture.coff
